.bodyprogramacao
{
 background-color: rgb(216, 180, 254); 
}

body
{
 background-color: rgb(255, 220, 180) 
}


botao-de-envio
{
  
}

card
{
  
}

div
{
  background-color: blue;
}

h1
{
 color: blue;
}


menu-superior
{
  
}

p 
{
 border: "1";
}
textarea
{
  height:"600"
  width:"400"
}

topco
{
  background-color: white;
}

